@import url('https://fonts.googleapis.com/css?family=Roboto:700,900&display=swap');

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}
